*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
body {
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGdyYXkgbGFuZHNjYXBlfGVufDB8fHx8MTY5MjQ3NTYyMQ&ixlib=rb-1.2.1&q=80&w=1080');
    background-size: cover;
}
h1{
    font-size: 25px;
}
.main_cont {
    text-align: center;
    margin: 100px;
}
.form_cont {
    text-align: left;
    border-radius: 25px;
    background-color: rgb(200, 142, 255);
    width: 30%;
    padding: 50px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1); /* Fondo blanco semi-transparente */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    backdrop-filter: blur(10px); /* Aquí está la magia del vidrio empañado */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Un borde sutil tipo cristal */
    padding: 2rem;
    color: white;
}
.btn_cont {
    text-align: center;
}
form button {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
form button:hover {
    background-color: rgb(71, 71, 71);
    transition: all 0.4s;
}
label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    box-sizing: border-box;
}
textarea{
    height: 40px;
    resize: none;
}
input, textarea {
    background: none;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
}
input:focus, textarea:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset;
    border-bottom: 1px solid rgba(255, 255, 255);
    outline: none;
}